---
import PlaceCard from '../components/PlaceCard.astro';
import {actions}from "astro:actions"
import Layout from '../layouts/Layout.astro';


const {data: places = [], error} = await Astro.callAction(actions.getPlaces, [] )




---

<Layout>

<h1 class="text-3xl font-extrabold">
  Lugares
</h1>

<!-- Todo: mostrar lugares para resenas -->

<div class="grid grid-cols-3 gap-4">
  {
places?.map((place) => <PlaceCard place={place}/>)
  }
	
</div>
</Layout>
